.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.buttonStyles {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: medium;
  background: none;
  border: 3px solid tomato;
  cursor: pointer;
}

.buttonStyles:hover {
  background-color: #ff6b6b;
}

.card {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.cardInfo {
  padding-left: 50px;
}
.additional {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 500;
}

.additionalStyle {
  border: 3px solid rgb(0, 190, 171);
  padding-bottom: 20px;
}

.additionalCr {
  font-family: 'Akshar', sans-serif;
  color: #000;
  font-size: 19px;
  cursor: pointer;
  padding-left: 50px;
}

.additionalCr:hover {
  color: #ff6b6b;
}
